DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=UTC
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=mauyola
PAYSTACK_PUBLIC_KEY=pk_test_fd50b599b31f0cfb316e4460621ca9921b7945ff
PAYSTACK_SECRET_KEY=removed-paystack-test-key

DB_ENGINE=mysql
DB_NAME=educonnect
DB_USER=root
DB_PASSWORD=your-password
DB_HOST=127.0.0.1
DB_PORT=3306
